body{
	padding: 0;margin: 0;
}
.mainbody{
	background-color: #eee;
	border: 1px #999 solid;
	margin: 20px;
	padding: 20px;
	overflow: hidden;
}
.team{
	width: 200px;
	height: 120px;
	border: 1px #999 solid;
	background-color: white;
	float: left;
}
#head{	
	float: right;
	border:1px #999 solid;
	margin-right: 5px;
}
#logo{
	float: left;
	border:1px #999 solid;
	margin-top: 20px;
	margin-left: 20px;
}
.word{	
	border:1px #999 solid;
	margin-left: 220px;
	margin-right: 140px;
	width: auto;
	background-color: white;
	font-size: 20px;
    text-indent: 2em;
    margin-top: 0px;
}
.personer{
	float: right;
	width: 120px;
	border:1px #999 solid;	
}
#personerlogo{
	border:1px #999 solid;
	width: 80px;
	height: 80px;
	margin: 20px;
}

